cx_Oracle==8.3.0
Flask==2.2.2
Flask_Login==0.6.2
flask_paginate==2022.1.8
Flask_WTF==1.0.1
mvc_flask==2.5.0
pandas==1.5.1
python-dotenv==0.21.0
pywhatkit==5.4
SQLAlchemy==1.4.41
Werkzeug==2.2.2
WTForms==3.0.1
Flask-Session==0.4.0
email-validator