
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTBFKMTRST"></script> -->


  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />

  <title> Dele&Dela {% block title %} Gerenciamento de Notificações {% endblock title%}</title>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}" />  -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />      -->

</head>