{% extends "base.html" %}

{% block content %}

<section class="container px-4 py-5" id="contents">

	<h2 class="pb-2 border-bottom">Painel de Notificações de Clientes</h2>

	<div class="row row-cols-1 row-cols-md-1 align-items-md-center g-5 py-5">

		<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">

			<div class="d-flex flex-column align-items-start gap-2">

				<h3 class="fw-bold">Clique no Botão abaixo para enviar notificações de cobrança para clientes</h3>

				<p class="text-muted">
					Esta funcionalidade identifica clientes que possuem prestações vencidas que ainda não foram quitadas. A notificação 
					é enviada automaticamente via Whatsapp.
				</p>

				<a href="{{ url_for('clientes.index') }}" class="btn btn-danger btn-lg">Enviar Notificações</a>

			</div>


			<div class="row row-cols-1 row-cols-sm-2 g-4">
				
				<div class="d-flex flex-column gap-2">

					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
						  <use xlink:href="#collection"></use>
						</svg>
					</div>

					<h4 class="fw-semibold mb-0">R$ {{ info_cliente.debito_total }} </h4> Valor Total a Receber

					<p class="text-muted">Corresponde a soma de todas as parcelas vencidas que ainda não foram pagas pelos clientes</p>

				</div>

				<div class="d-flex flex-column gap-2">

					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
						  <use xlink:href="#gear-fill"></use>
						</svg>
					</div>

					<h4 class="fw-semibold mb-0">R$ {{ info_cliente.debito_med_por_cliente }} </h4> Valor Médio por Cliente

					<p class="text-muted">Média do valor que cada cliente precisa pagar referente às parcelas vencidas</p>

				</div>

				<div class="d-flex flex-column gap-2">

					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
						  <use xlink:href="#gear-fill"></use>
						</svg>
					</div>

					<h4 class="fw-semibold mb-0">R$ {{ info_cliente.valor_max_parcela }} </h4> Valor da parcela mais alta


					<p class="text-muted">Corresponde ao valor da parcela mais alta que ainda não foi quitdada cujo o prazo está vencido</p>

				</div>

				<div class="d-flex flex-column gap-2">

					<div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-4 rounded-3">
						<svg class="bi" width="1em" height="1em">
						  <use xlink:href="#gear-fill"></use>
						</svg>
					</div>

					<h4 class="fw-semibold mb-0">Nº {{ info_cliente.n_clientes_debito }} </h4> Nº de clientes em débito

					<p class="text-muted">Corresponde ao número clientes com débito e com parcelas vencidas</p>

				</div>

			</div>

		</div>
	

	</div>

</section>

{% endblock content %}